# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development
.DS_Store

# Data files
*.csv
*.xlsx
*.db
*.sqlite3
